
@media (max-width: 932px){

	#DescAndSkills{
		flex-flow: column wrap;
		gap: 33px;
	}

	#DescAndSkills .Desc{
		width: 70%;

	}

	.Projects .card{
		width: 308px;

	}

}


@media (max-width:768px ){


#SocialLinks{

	width: 86px;
	border-radius: 0px;
}

#SocialLinks i{

	display: none;
}

#SocialLinks .Links{

	display: inline-block;
	opacity: 1;
}


#SocialLinks:hover{

	width: 86px;
    border-radius: 0px;
}

#SocialLinks:hover .Links{

	animation: none;

}


}

@media (max-width: 693px){

	#DescAndSkills{
		width: 100%;

	}

	#DescAndSkills .Desc{

		width: 90%;

	}

	.Desc h2{

		font-size: 21px;
	}

	.Skllset{

		width: 90%;
	}
}